<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{titulo}}</title>
    <link rel="stylesheet" href="css/landing/landing.css">
</head>

<body>
    <header>
        <article id="menu-bar">
            <a href="/">
                <p class='essential'>ESSENTIAL SOUNDS</p>
            </a>
            <div class="temas-container">
                <a href="/products">
                    <p class='nav-options'>Álbumes</p>
                </a>
                <span style="background-color:#505050"></span>
                <a href="#">
                    <p class='nav-options'>Carrito</p>
                </a>
            </div>
        </article>
    </header>

    <article id='banner' class="parallax-1" style="background-image: url('img/parallax-1.jpg')">
        <div class="title-container">
            <h1>Y O U R</h1>
            <h1 id='title-animation' data-hover="  _ S T Y L E ">
                <span>  _ M U S I C  </span>
            </h1>
            <button type="button">SEE MORE</button>
        </div>

        <div class="images-container">
            <img src="img/1.jpg" id="img1" alt="Kendrick Lamar">
            <img src="img/5.jpg" id="img2" alt="Arcade Fire">
            <img src="img/3.jpg" id="img3" alt="Petit Biscuit">
        </div>
    </article>

    <article id="info">
        <div id="promo">
            <div class="image-container">
                <img src="img/albumes.png" alt="Álbumes">
            </div>
            <div class="info-container">
                <h1>N E W</br>
                    <span>  _ R E L E A S E S  </span>
                </h1>
                <p>New releases everyday, everytime. Listen to your favorite artist in the best quality posible. Everything
                    in vinyl format, for better experience and sound quality.
                </p>
            </div>
        </div>
        <div id="carac">
            <div class="caracts">
                <img src="icons/quality.svg" alt="Quality">
                <h1>SOUND QUALITY</h1>
                <p>The best quality at the palm of your hand.</p>
            </div>
            <div class="caracts">
                <img src="icons/exclusive.svg" alt="Exclusive">
                <h1>EXCLUSIVITY</h1>
                <p>The latest editions of your favorites albums and artist.</p>
            </div>
            <div class="caracts">
                <img src="icons/special.svg" alt="Special">
                <h1>SPECIAL EDITIONS</h1>
                <p>Different formats for diferent people.</p>
            </div>
        </div>
    </article>

    <section id="visualizador">
        <div class="list_container">
            <div class="list">
                <ul id="playlist">
                    {{#each lista}} {{#each cancion}}
                    <div class="song">
                        <li>
                            <a href="{{link}}">{{nombre}}</a>
                        </li>
                    </div>
                    {{/each}} {{/each}}
                </ul>
            </div>
            <div class="songs">
                <div class="preview">
                    <img src="disco.png" alt="" class="disco">
                    <h1>{{lista}}</h1>
                    <h2>{{lista}}</h2>
                    <audio src="" controls id="audioPlayer"></audio>
                </div>
            </div>
    </section>

    <article id="galery">
        <div class="album" id="lorde" style="background-image: url('img/9.jpg')">
            <div class="info-product-container">
                <div class="blured-image"></div>
                <h1 class="name-album">MELODRAMA</h1>
                <h1 class="name-artist">
                    <span>  Lorde  </span>
                </h1>
                <p>TRACKLIST</p>
                <ol>
                    <li>Green Light</li>
                    <li>Sober</li>
                    <li>Homemade Dynamite</li>
                    <li>The Louvre</li>
                    <li>Liability</li>
                    <li>Hard Feelings/Loveless</li>
                    <li>Sober II (Melodrama)</li>
                    <li>Writer In the Dark</li>
                    <li>Supercut</li>
                    <li>Liability (Reprise)</li>
                    <li>Perfect Places</li>
                </ol>
                <p class="price">
                    <span>$20.0</span>
                </p>
            </div>
        </div>
        <div id="else">
            <div class="album" id="flume" style="background-image: url('img/3.jpg')"></div>
            <div id="else-2">
                <div class="album" id="every" style="background-image: url('img/5.jpg')"></div>
                <div class="album" id="tame" style="background-image: url('img/10.jpg')"></div>
            </div>
        </div>
    </article>

    <footer id="main-footer">
        <div id="legal">
            <p>Privacy Policy</p>
            </br>
            <p>Terms & Condition</p>
            </br>
            <p>About</p>
        </div>
        <div id="newsletter">
            <label>
                <p>WEEKLY NEWSLETTER</p>
                <input id='msg' type="text">
                <button id='submit-btn' type="submit">SUBSCRIBE</button>
            </label>
        </div>
        <div id="redes">
            <a href=https://www.facebook.com/>
            <img src="icons/facebook.svg" alt="Facebook">
            </a>
            <a href=https://www.instagram.com/atte_jaime/>
            <img src="icons/instagram.svg" alt="Instagram">
            </a>
            <a href=https://www.twitter.com/>
            <img src="icons/twitter.svg" alt="Twitter">
            </a>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="js/player.js"></script>
</body>

</html>